body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: rgb(13, 13, 13); 
  --second-color: #2836f4;
  --third-color: #ff901f;
  --fourth-color: #fd49da;
  --fith-color:  #4652ff;
}

* {
  margin: 0;
  padding: 0;
  
}

@font-face {
  font-family:"stilltime";
  src: url(./assets/fonts/Road_Rage.otf);
  font-weight: 200px;
  font-style: normal;
}

@font-face {
  font-family:"storytime";
  src: url(./assets/fonts/RocketRinder-yV5d.ttf);
  font-weight: 100px;
  font-style: normal;
}

@font-face {
  font-family:"cafe";
  src: url(./assets/fonts/PopularCafeNF.ttf);
  font-weight: 50px;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: helvetica, arial, sans-serif;
  color: var(--primary-color);
  min-height: 100%;
}

h2 {
  color: var(--second-color);
  font-family: cafe;
  font-size: 50px;
  /* text-shadow: 0 0 5px rgba(255,32,121, 1); */
  /* rgba(255, 143, 31, 0.897) */
}

h3 {
  font-family: cafe;
  color: var(--third-color);
  font-size: 30px;
}

p {
  color: var(--third-color);
}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width:768px) {
    header {
      flex-direction: row;
      padding-bottom: 1rem;
    } 
    header h1 {
      font-size: 15vw;
    }
    header nav ul{ 
      flex-direction: row;
      }
      .coolbtn {
        font-size: 4.5vw;
      }
      .coolbtn::before {
        background: none;
      }
      .my-work h2 {
          font-size: 8vw;
      }
      .my-work h3 {
          font-size: 4vw;
      }
      ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-around;
      }
      .coolbtn {
          font-size: 4vw;

      }
      .link-wrapper  {
        position: relative;
        justify-content: space-around;
       }
      .footer {
        position:relative;
        bottom:0;
        width:100%;
        height:auto;
      
      }
      .footer img {
        height: auto;
        width: 100%;
      }
      
      
  }
  @media screen and (max-width: 575px) {
      header {
          flex-direction: row;
      }
      header h1 {
          font-size: 20vw;
      }
      header nav ul{ 
        flex-direction: row;
      }
      h2 {
        font-size: 8vw;
      }
      .coolbtn {
        font-size: 4.5vw;
      }

      .coolbtn:focus {
        font-size: 4.5vw;
      }
      .bio img {
        max-width: 50%;
        padding: .2rem;
        background-color: black;
        box-shadow: 0 10px 25px rgba(255,32,121, 0.6);
        border-radius: 150px;
        background-size: contain;
      }
      /* .b-w-c {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
      } */
      .bio  {
          flex-direction: column;
          flex: 100%;
          align-items: center;
          width: 100%;
      }
      .bio p 
      {
          text-align: center;
      }
      .bio h2 {
        padding-top: 1.2rem;
      }
      .my-work{
          flex: 1 100%;
          order: 1;
      }
      .my-work h2 {
          text-align: center;
          flex: 100%;
      }
      form {
        width: 80%;
      }
      input {
        width: 60%;
      }
      textarea{
        width: 60%;
      }
      .contact{
          flex-wrap: wrap;
          flex-direction: column;
          text-align: center;
      }
      .link-wrapper a {
        font-size: .9rem;
       }

  }

