/*---START MY WORK---*/

/* .b-w-c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  
  
} */

/* .my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  flex: 1;
} */
.my-work h2 {
  text-align: center;
  padding: 20px;
  border-bottom: solid 0.15rem var(--fourth-color);
  background: rgba(4, 0, 94, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255, 32, 121, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
}

.my-work h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.my-work i {
  padding-left: 1rem;
  color: var(--second-color);
}

.projects {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  max-width: 100%;
  height: auto;
  width: 40%;
  height: auto;
  background: rgba(4, 0, 94, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255, 32, 121, 0.4);
  border-radius: 10px;
  padding: 20px;
}

/*-END MY WORK-*/

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .my-work h2 {
    font-size: 8vw;
  }
  .my-work h3 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 575px) {
  .my-work {
    flex: 1 100%;
    order: 1;
  }
  .my-work h2 {
    text-align: center;
    flex: 100%;
  }
  form {
    width: 80%;
  }
  input {
    width: 60%;
  }
  textarea {
    width: 60%;
  }
  .contact {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .link-wrapper a {
    font-size: 0.9rem;
  }
}
